@import "app/content-buttons/content-buttons/content-buttons.component.scss";
@import "app/playersList/players-list/players-list.component.scss";
@import "app/app.component.scss";





table {
    border: 1px solid black;
    width: 80vw;
    tr:nth-child(even) {
        border: 1px solid #cdcdcd;
        background-color: lightgray;
    }
}
