<div class="new-matches-container">

    <div class="display-block-row">
        <label class="label">Player 1</label>
        <div class="">
            <select class="select-input" [(ngModel)]="player1Id" (change)="onSelectClick('first')">
                <option disabled selected [value]="-1"> -- Choose player 1 -- </option>
                <option *ngFor="let player of players" [disabled]="isPlayer1equalToTwo(player.id,'first')"
                    [value]="player.id">{{player.name}} {{player.surname}}</option>
            </select>

            <input class="input-number" #player1val1 [(ngModel)]="player1Points[0]"
                (keyup)="checkInput(player1val1.value,'player-1-set-1')" [class.wrong-input]="player1Points[0] < 0">

            <input class="input-number" #player1val2 [(ngModel)]="player1Points[1]"
                (keyup)="checkInput(player1val2.value,'player-1-set-2')" [disabled]="!set1Valid"
                [class.wrong-input]="player1Points[1] < 0">

            <input class="input-number" #player1val3 [(ngModel)]="player1Points[2]"
                (keyup)="checkInput(player1val3.value,'player-1-set-3')" [disabled]="!set2Valid"
                [class.wrong-input]="player1Points[2] < 0">

            <input class="input-number" #player1val4 [(ngModel)]="player1Points[3]"
                (keyup)="checkInput(player1val4.value,'player-1-set-4')" [disabled]="!set3Valid"
                [class.wrong-input]="player1Points[3] < 0">

            <input class="input-number" #player1val5 [(ngModel)]="player1Points[4]"
                (keyup)="checkInput(player1val4.value,'player-1-set-5')" [disabled]="!set4Valid"
                [class.wrong-input]="player1Points[4] < 0">
        </div>
    </div>

    <div class="display-block-row">
        <label class="label">Player 2</label>
        <div class="">
            <select class="select-input" [(ngModel)]="player2Id" (change)="onSelectClick('second')">
                <option disabled selected [value]="-1"> -- Choose player 2 -- </option>
                <option *ngFor="let player of players" [disabled]="isPlayer1equalToTwo(player.id,'second')"
                    [value]="player.id">{{player.name}} {{player.surname}}</option>
            </select>
            <input class="input-number" #player2val1 [(ngModel)]="player2Points[0]"
                (keyup)="checkInput(player2val1.value,'player-2-set-1')" [class.wrong-input]="player2Points[0] < 0">

            <input class="input-number" #player2val2 [(ngModel)]="player2Points[1]"
                (keyup)="checkInput(player2val2.value,'player-2-set-2')" [disabled]="!set1Valid"
                [class.wrong-input]="player2Points[1] < 0">

            <input class="input-number" #player2val3 [(ngModel)]="player2Points[2]"
                (keyup)="checkInput(player2val3.value,'player-2-set-3')" [disabled]="!set2Valid"
                [class.wrong-input]="player2Points[2] < 0">

            <input class="input-number" #player2val4 [(ngModel)]="player2Points[3]"
                (keyup)="checkInput(player2val4.value,'player-2-set-4')" [disabled]="!set3Valid"
                [class.wrong-input]="player2Points[3] < 0">

            <input class="input-number" #player2val5 [(ngModel)]="player2Points[4]"
                (keyup)="checkInput(player2val4.value,'player-2-set-5')" [disabled]="!set4Valid"
                [class.wrong-input]="player2Points[4] < 0">
        </div>
    </div>

    <div>
        <button class="btn-add-new-game" [class.disabled]="!isButtonDisabled()" (click)="addNewGame()">Add new game
        </button>
    </div>

</div>

<div class="matches-table-container">
    <table>
        <tr>
            <th>ID</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Overview</th>
        </tr>
        <tr *ngFor="let match of matches">
            <td>{{match.id}}</td>
            <td>{{match.player1.name}}</td>
            <td>{{match.player2.name}}</td>
            <td><a class="overview-item" (click)="onOverviewClick(match)">overview</a></td>
        </tr>
    </table>
</div>


<div class="pop-up-container-mask" *ngIf="isOverview" (click)="onOverviewClick()">
</div>

<div class="pop-up-data" *ngIf="isOverview">
    <div class="overview-container">
        <div class="overview-column">
            <label class="label">{{overviewMatch.player1.name}}</label>
            <label class="label" *ngFor="let point of overviewMatch.player1Result">{{point}}</label>

        </div>
        <div class="overview-column">
            <label class="label">{{overviewMatch.player2.name}}</label>
            <label class="label" *ngFor="let point of overviewMatch.player2Result">{{point}}</label>
        </div>

    </div>
</div>